/* ===== PROPERTIES FONT ===== */

.metadata-properties-heading {
    display: none;
    
  }

  .metadata-properties, .metadata-properties *, .metadata-add-button, .metadata-properties-heading {
    font-family: 'Aptos Mono', 'Segoe UI', var(--font-monospace);
  }

  body {
    --metadata-label-font-size: 12px;
    --metadata-input-font-size: 12px;
    --metadata-padding: 0 0 .25rem 0;
    --metadata-gap: 0px;
  }
